mtest
mtest[23456]
testdb
fds_copy
fds_stat
fds_dump
fds_load
fds_drop
*.lo
*.[ao]
*.so
*.exe
*[~#]
*.bak
*.orig
*.rej
*.gcov
*.gcda
*.gcno
core
core.*
valgrind.*
man/
html/
.vscode/
.xmake/
build/
vsxmake2022
